* {
  box-sizing: border-box; }

body {
  background: #FFF; }
  body .header {
    position: absolute;
    width: 1440px; }
    body .header .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 1440px;
      height: 156px; }
      body .header .navbar .left {
        width: 256px;
        height: 101.76px;
        position: absolute;
        left: 8.13%; }
      body .header .navbar .right {
        display: flex;
        flex-direction: row;
        align-items: center; }
        body .header .navbar .right .menu {
          display: grid;
          grid-template-columns: auto auto auto auto;
          list-style-type: none;
          height: 48px;
          width: 580px;
          padding: 10px; }
          body .header .navbar .right .menu a {
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #000; }
    body .header .hero-light {
      width: 1440px;
      height: 619px;
      background-image: url("../images/Rectangle 48.png");
      display: flex;
      flex-direction: column;
      text-align: center; }
      body .header .hero-light .text-content {
        color: #FFF; }
        body .header .hero-light .text-content p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 36px; }
        body .header .hero-light .text-content h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 58px;
          line-height: 80px; }
        body .header .hero-light .text-content h4 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px; }
      body .header .hero-light .btn .playstore-btn {
        color: #FFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        border-radius: 30px;
        padding: 16px 0px;
        background: #FA4A0C;
        width: 236px;
        height: 68px; }
      body .header .hero-light .btn .appstore-btn {
        color: #FFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        border-radius: 30px;
        padding: 16px 0px;
        background: rgba(0, 0, 0, 0);
        width: 236px;
        height: 68px;
        border: solid 1px; }
  body .img-left {
    position: absolute;
    width: 598px;
    height: 1172px;
    left: 305px;
    top: 460px;
    background-image: url("../images/Rectanglered.png");
    background-size: 100%;
    background-repeat: no-repeat; }
  body .img-right {
    position: absolute;
    left: 669px;
    top: 709px;
    width: 285px;
    height: 531px;
    background-image: url("../images/Rectangle (1).png"); }
  body .main {
    position: relative;
    top: 1378.91px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .main .horizontal-line {
      width: 884px;
      height: 0px;
      border: 1px solid #E4E4E4;
      background-color: #E4E4E4; }
    body .main .text-how {
      position: absolute;
      top: 72.09px;
      width: 425px;
      height: 36px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 36px;
      color: #000;
      opacity: 0.8; }
    body .main .page-1 {
      display: flex;
      flex-direction: row;
      width: 1440px;
      height: 656px;
      padding-top: 78px;
      padding-left: 245px; }
      body .main .page-1 .page-img {
        width: 40%;
        height: 656px;
        background-image: url("../images/Rectanglewhite-phone-1.png");
        background-size: 110%;
        background-repeat: no-repeat; }
      body .main .page-1 .page-text {
        display: flex;
        flex-direction: column;
        padding-top: 203px; }
        body .main .page-1 .page-text h3 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: #FA4A0C;
          letter-spacing: 0.1px; }
        body .main .page-1 .page-text h2 {
          margin: 0px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 57px;
          letter-spacing: 0.2px;
          color: #252848; }
        body .main .page-1 .page-text h4 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          color: #737373;
          letter-spacing: 0.2px; }
    body .main .page-2 {
      display: flex;
      flex-direction: row;
      width: 1440px;
      height: 656px;
      padding-top: 78px;
      padding-left: 245px; }
      body .main .page-2 .page-img {
        width: 40%;
        height: 656px;
        background-image: url("../images/Rectanglewhite-phone-2.png");
        background-size: 110%;
        background-repeat: no-repeat; }
      body .main .page-2 .page-text {
        display: flex;
        flex-direction: column;
        padding-top: 203px; }
        body .main .page-2 .page-text h3 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: #FA4A0C;
          letter-spacing: 0.1px; }
        body .main .page-2 .page-text h2 {
          margin: 0px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 57px;
          letter-spacing: 0.2px;
          color: #252848; }
        body .main .page-2 .page-text h4 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          color: #737373;
          letter-spacing: 0.2px; }
      body .main .page-2 .page-img {
        margin-left: 100px; }
    body .main .page-3 {
      display: flex;
      flex-direction: row;
      width: 1440px;
      height: 656px;
      padding-top: 78px;
      padding-left: 245px;
      margin-bottom: 100px; }
      body .main .page-3 .page-img {
        width: 40%;
        height: 656px;
        background-image: url("../images/Rectanglewhite-phone-3.png");
        background-size: 110%;
        background-repeat: no-repeat; }
      body .main .page-3 .page-text {
        display: flex;
        flex-direction: column;
        padding-top: 203px; }
        body .main .page-3 .page-text h3 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: #FA4A0C;
          letter-spacing: 0.1px; }
        body .main .page-3 .page-text h2 {
          margin: 0px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 57px;
          letter-spacing: 0.2px;
          color: #252848; }
        body .main .page-3 .page-text h4 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          color: #737373;
          letter-spacing: 0.2px; }
    body .main .page-4 {
      height: 516px;
      width: 1400px;
      background-image: url("../images/Rectangle 47.png");
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 145px; }
      body .main .page-4 .text-content {
        color: #FFF; }
        body .main .page-4 .text-content h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 57px;
          margin: 0px 10px; }
        body .main .page-4 .text-content h4 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          margin: 20px 0px 78px 0px; }
      body .main .page-4 .btn .playstore-btn {
        color: #FFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        border-radius: 10px;
        padding: 18px 31px;
        background: #FA4A0C;
        width: 142px;
        height: 64px;
        border: none; }
      body .main .page-4 .btn .appstore-btn {
        color: #FFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        border-radius: 10px;
        padding: 18px 31px;
        background: rgba(0, 0, 0, 0);
        width: 173px;
        height: 62px;
        border: solid 1px #FFF;
        margin-left: 15px; }
    body .main .form form {
      height: 1080px;
      width: 1400px;
      background: rgba(231, 238, 245, 0.25);
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 86px 177px 0px 174px; }
      body .main .form form .caption {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px; }
      body .main .form form label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: left; }
      body .main .form form p {
        width: 1138px;
        height: 66px;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em; }
      body .main .form form .info {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 48px;
        text-align: left; }
        body .main .form form .info span {
          color: #EB8205; }
        body .main .form form .info input {
          width: 100%;
          height: 71px;
          margin-top: 12px;
          margin-bottom: 15px;
          box-shadow: 0px 0px 50px rgba(178, 173, 255, 0.17);
          border-radius: 5px;
          border: none;
          font-size: 30px;
          color: #737373; }
        body .main .form form .info .error {
          color: red;
          width: 100%; }
      body .main .form form .check {
        margin-top: 28px;
        margin-left: 42px;
        height: 24px;
        text-align: left;
        display: flex;
        flex-direction: row; }
        body .main .form form .check input {
          width: 18px;
          height: 18px; }
        body .main .form form .check div {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.02em;
          padding-top: 3px;
          padding-left: 20px; }
      body .main .form form .btn {
        margin-top: 81px; }
        body .main .form form .btn button {
          color: #FFF;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          border-radius: 5px;
          padding: 0px;
          background: #FA4A0C;
          width: 192.85px;
          height: 54px;
          color: #FFF;
          border: none; }
  body .footer {
    position: relative;
    top: 1250px;
    padding: 0px 115px 38px 115px; }
    body .footer .content-footer {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      width: 1210px;
      height: 113px;
      padding: 0px 45px 0px 71px;
      align-items: center; }
      body .footer .content-footer .center-footer {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 171px; }

/*# sourceMappingURL=style.css.map */
